<div class="neos-row-fluid">
    <div class="neos-span6">
        <legend>Queue size</legend>
        <p>
            <f:if condition="{jobCount}">
                <f:then>
                    <span class="neos-badge neos-badge-warning" style="font-size: 24px; line-height: 24px">{jobCount}</span> jobs
                </f:then>
                <f:else>
                    <span class="neos-badge neos-badge-success" style="font-size: 24px; line-height: 24px">empty</span>
                </f:else>
            </f:if>
        </p>
    </div>
    <div class="neos-span6">
        <legend>Content store</legend>
        <p>
            <span class="neos-badge neos-badge-info" style="font-size: 24px; line-height: 24px">{usedMemory -> f:format.bytes(decimals: 2)}</span> memory used
        </p>
    </div>
</div>
