{namespace neos=Neos\Neos\ViewHelpers}

<link rel="stylesheet" href="../../../../Resources/Public/Styles/Backend.css" />

<f:flashMessages as="flashMessages">
    <f:if condition="{flashMessages -> f:count()} > 0">
        <ul id="neos-notifications-inline">
            <f:for each="{flashMessages}" as="flashMessage">
                <li data-type="{flashMessage.severity -> f:format.case(mode: 'lower')}">{neos:backend.translate(id: 'flashMessage.{flashMessage.code}', arguments: flashMessage.arguments, value: flashMessage)}</li>
            </f:for>
        </ul>
    </f:if>
</f:flashMessages>

<f:form action="index" id="postHelper" method="post"></f:form>
<div class="neos-content neos-container-fluid">
    <!-- we extracted the header into a partial, so that we can extend it (through Views.yaml and unplanned extensibility) -->
    <f:render partial="ListHeader" arguments="{_all}" />

    <legend>Content Store Releases</legend>
    <div class="neos-row-fluid">
        <table class="neos-table cs-releases-table">
            <thead>
            <tr>
                <th style="width: 240px">Identifier</th>
                <th style="width: 200px">URLs</th>
                <th>Start</th>
                <th>Switch </th>
                <th>Stop</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <f:if condition="{changedDocumentNodeIdentifiers -> f:count()} > 0">
                <tr>
                    <td>
                        <b>upcoming</b> incremental release
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="neos-action cs-releases-table__actions">
                        <f:link.action action="showChangedDocumentNodeIdentifiers" addQueryString="true" arguments="{release: release.identifier}" class="neos-button neos-button-primary" title="Show upcoming release information" additionalAttributes="{data-neos-toggle: 'tooltip'}">
                            <i class="fa fa-info-circle"></i>
                        </f:link.action>
                    </td>
                </tr>
            </f:if>
            <f:for each="{jobs}" as="release">
                <tr style="{f:if(condition: release.removedDate, then: 'opacity: 0.5')}">
                    <td>
                        {release.created -> f:format.date(format: 'd.m.Y H:i:s')}
                        <span class="neos-badge">{release.status}</span>
                        <f:if condition="{release.errorCount}">
                            <span class="neos-badge neos-badge-important" title="errors" data-neos-toggle="tooltip">{release.errorCount}</span>
                        </f:if>
                        <f:if condition="{release.current}">
                            <span class="neos-badge neos-badge-info">active</span>
                        </f:if>
                        <f:if condition="{release.removedDate}">
                            <span class="neos-badge" title="{release.removedDate -> f:format.date(format: 'd.m.Y H:i:s')}">removed</span>
                        </f:if>
                    </td>
                    <td style="text-align: center">
                        <f:render partial="ReleaseProgress" arguments="{release: release}" />
                    </td>
                    <td>{release.startDate -> f:format.date(format: "d.m.Y H:i:s")}</td>
                    <td>{release.switchDate -> f:format.date(format: "d.m.Y H:i:s")}</td>
                    <td>{release.stopDate -> f:format.date(format: "d.m.Y H:i:s")}</td>
                    <td class="neos-action cs-releases-table__actions">
                        <f:link.action action="show" addQueryString="true" arguments="{release: release.identifier}" class="neos-button neos-button-primary" title="Show release information" additionalAttributes="{data-neos-toggle: 'tooltip'}">
                            <i class="fa fa-info-circle"></i>
                        </f:link.action>
                        <f:if condition="{release.removedDate}">
                            <f:then>
                                <button class="neos-button neos-button-warning neos-disabled" title="A removed release cannot be activated" data-neos-toggle="tooltip"><i class="fa fa-bolt"></i></button>
                            </f:then>
                            <f:else>
                                <f:if condition="{release.current}">
                                    <f:then>
                                        <button class="neos-button neos-button-warning neos-disabled" title="The active release cannot be activated" data-neos-toggle="tooltip"><i class="fa fa-bolt"></i></button>
                                    </f:then>
                                    <f:else>
                                        <button form="postHelper" formaction="{f:uri.action(action: 'switch', arguments: {release: release.identifier})}" type="submit" class="neos-button neos-button-warning" title="Switch to release" data-neos-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-bolt"></i>
                                        </button>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>

        <!-- we extracted the footer into a partial, so that we can extend it (through Views.yaml and unplanned extensibility) -->
        <f:render partial="ListFooter" arguments="{_all}" />
    </div>
</div>
